/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
	--section-title-color: var(--title-shadow);
	--border-color: var(--main-text-color);
	--corners-color: var(--title-shadow);
	--title-decor: var(--title-shadow);
	--link-shadow: var(--title-shadow);
	--rec-color: var(--title-shadow);
}
