.page {
	transition-duration: 0.3s;
	background: var(--background-image) no-repeat top center,
		var(--background-color);
	background-size: cover;
	background-attachment: fixed;
	color: var(--main-text-color);
}

.header {
	margin: 0 20px;
	position: relative;
}

@media (width < 1024px) and (width >= 768px) {
	.header {
		display: grid;
		grid-template-rows: 29vh 53vw 15rem;
		align-items: center; /* Выравниваем элементы по вертикали в центре */
	}

	.header__theme_menu {
		/* Замените .your-element на селектор вашего элемента */
		grid-column: 3; /* Перемещаем элемент в третью колонку */
		justify-self: center; /* Центрируем элемент внутри колонки */
	}
}

@media (width < 768px) and (width >= 375px) {
	.header {
		margin: 0 10px;
	}
}

.header__rec {
	position: absolute;
	color: var(--rec-color);
	text-transform: uppercase;
	top: 21px;
	right: 49px;
}

@media (width < 768px) and (width >= 375px) {
	.header__rec {
		top: 11px;
		right: 30px;
	}
}

.header__rec::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	margin: -5px -20px 0 0;
	border-radius: 50%;
	box-shadow: 0 0 4px 2px var(--rec-color);
	background-color: var(--rec-color);
	top: 50%;
	right: 0;
}

.header__theme-menu {
	padding-top: 20px;
}

.header__theme-menu-list {
	display: flex;
	justify-content: center;
	gap: 12px;
}

@media (width < 1024px) {
	.header__theme-menu-list {
		flex-direction: column;
		align-items: flex-end;
	}
}

@media (width < 768px) and (width >= 375px) {
	.header__theme-menu-list {
		gap: 11px;
	}
}

.header__theme-menu-button {
	font-size: 18px;
	font-weight: 400;
	color: var(--corners-color);
	line-height: 100%;
	padding: 2.5px 12px;
	border: transparent;
	background: none;
	transition-duration: var(--transition-duration);
	cursor: pointer;
}

.header__theme-menu-button:hover {
	outline: var(--hover-color);
}

.header__theme-menu-button:focus {
	outline: none;
}

.header__theme-menu-button:focus-visible {
	border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
	outline: 1px solid;
}

@media (width < 768px) and (width >= 375px) {
	.header {
		display: grid;
		grid-template-rows: 33vh 78vw 10rem;
		margin-left: 10px;
		align-items: center;
		margin-right: 15px;
	}

	.header__theme_menu {
		/* Замените .your-element на селектор вашего элемента */
		grid-column: 3; /* Перемещаем элемент в третью колонку */
		justify-self: center; /* Центрируем элемент внутри колонки */
	}
}

.header__title {
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	font-weight: 700;
	margin-left: -2%;
	color: var(--title-color);
	text-shadow: 4px 4px 0px var(--title-shadow);
}

.header__title-container {
	display: flex;
	height: 80vh;
	gap: 80px;
	margin-top: 108px;
	flex-direction: column;
	justify-content: center;
}

@media (width < 1024px) and (width >= 768px) {
	.header__title-container {
		gap: 132px;
	}
}

@media (width < 768px) and (width >= 375px) {
	.header__title-container {
		gap: 57px;
	}
}

@media (width < 1024px) and (width >= 375px) {
	.header__title {
		text-shadow: 4px 4px 0px var(--title-decor);
	}
}

@media (width < 1024px) and (width >= 768px) {
	.header__title {
		margin-left: -3%;
	}
}

@media (width < 768px) and (width >= 375px) {
	.header__title {
		font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
		margin-left: 0;
		line-height: 82.5%;
	}
}

.header__subtitle {
	color: var(--article-title-color);
	align-self: flex-end;
	font-weight: 700;
	width: 50%;
}

@media (width < 425px) {
	.header__subtitle {
		width: 100%;
	}
}

.decorated-zone::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	border-left: 1px solid var(--corners-color);
	border-bottom: 1px solid var(--corners-color);
	left: 0px;
	bottom: 18px;
}

@media (width < 768px) and (width >= 375px) {
	.decorated-zone::before {
		left: 0px;
		bottom: 17px;
	}
}

.decorated-zone::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	border-right: 1px solid var(--corners-color);
	border-top: 1px solid var(--corners-color);
	right: 14px;
	top: 22px;
}

@media (width < 768px) and (width >= 375px) {
	.decorated-zone::after {
		right: 0px;
		top: 10px;
	}
}

.title-decor {
	background: var(--title-decor);
}

.main {
	padding: 0 20px;
	margin: 64px 0;
	display: flex;
	flex-direction: column;
	gap: 80px;
}

@media (width < 768px) and (width >= 375px) {
	.main {
		padding: 0 10px;
		margin: 34px 0;
		gap: 50px;
	}
}

.section {
	line-height: 130%;
}

.section__title {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
	color: var(--section-title-color);
}

.dark-title {
	color: var(--article-title-color);
}

@media (width < 1024px) and (width >= 768px) {
	.section__title {
		width: 35%;
	}
}

@media (width < 768px) and (width >= 375px) {
	.section__title {
		width: 100%;
		margin-bottom: 20px;
	}
}

.section__article-list {
	display: flex;
	flex-wrap: wrap;
}

.section__article-list-title {
	font-size: 18px;
	font-weight: 700;
	color: var(--article-title-color);
}

.section__article-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.section__article-title {
	font-size: 18px;
	font-weight: 700;
	color: var(--article-title-color);
}

.section__article-title_regular {
	font-weight: 400;
}

.section__article-text-link {
	border: transparent;
	text-shadow: 3px 3px 0px var(--link-shadow);
	transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
	border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
	outline: none;
}

.section__article-text-link:focus-visible {
	outline: 1px solid var(--main-text-color);
}

.section__main,
.section__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section__main .section__title,
.section__content .section__title {
	width: 33%;
}

@media (width < 1024px) and (width >= 768px) {
	.section__main .section__title,
	.section__content .section__title {
		width: 32%;
	}
}

@media (width < 768px) and (width >= 375px) {
	.section__main .section__title,
	.section__content .section__title {
		width: 100%;
		margin-bottom: 20px;
	}
}

.section__main .section__article-list,
.section__content .section__article-list {
	width: 66%;
	flex-direction: column;
	gap: 20px;
}

@media (width < 1024px) and (width >= 768px) {
	.section__main .section__article-list,
	.section__content .section__article-list {
		width: 65%;
	}
}

@media (width < 768px) and (width >= 375px) {
	.section__main .section__article-list,
	.section__content .section__article-list {
		width: 100%;
	}
}

.section__info .section__title {
	width: 30%;
}

@media (width < 768px) and (width >= 375px) {
	.section__info .section__title {
		width: 100%;
	}
}

@media (width >= 1024px) {
	.section__info .section__article-list {
		justify-content: space-between;
	}
}

@media (width < 1024px) and (width >= 375px) {
	.section__info .section__article-list {
		gap: 20px;
	}
}

.section__info .section__article-item {
	flex: 0 0 auto;
	width: 32%;
}

@media (width < 1024px) and (width >= 375px) {
	.section__info .section__article-item {
		flex: 1 0 auto;
		width: 100%;
	}
}

.section__pictures {
	display: grid;
}

.section__pictures .section__title {
	grid-column: 1/-1;
	width: 100%;
	margin: 0;
}

@media (width >= 768px) {
	.section__pictures .section__image {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
	}

	.section__pictures .section__image__sunset,
	.section__pictures .section__image__outside {
		grid-column: span 2;
	}

	.section__pictures .section__image__icecream,
	.section__pictures .section__image__disk {
		grid-row: span 2;
	}
}

@media (width < 768px) {
	.section__pictures .section__image {
		width: 100%;
		height: auto;
	}

	.section__pictures .section__image-container {
		width: 100px;
	}
}

@media (width >= 768px) {
	.section__pictures {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px 19px;
	}
}

@media (width < 768px) {
	.section__pictures {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.footer {
	position: relative;
	text-align: center;
	display: grid;
	grid-template-columns: 0vw;
	grid-template-rows: 36vh;
}

.footer__title {
	font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	font-weight: 700;
	color: var(--title-color);
	text-shadow: 2px 2px 0px var(--title-shadow);
	grid-column: 2;
	grid-row: 2;
	justify-self: center;
}

@media (width < 1024px) and (width >= 375px) {
	.footer__title {
		text-shadow: 2px 2px 0px var(--title-decor);
	}
}

@media (width < 768px) and (width >= 375px) {
	.footer__title {
		font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	}
}

@media (width < 1024px) and (width >= 768px) {
	.footer {
		grid-template-columns: 0vw;
		grid-template-rows: 42vh;
	}
}

@media (width < 768px) and (width >= 375px) {
	.footer {
		margin-top: 50px;
	}
}
